/* Footer.css */

.footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  