/* Project.css */

.project {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .project h2 {
    margin-top: 0;
    color: var(--primary-color);
  }
  
  .project a {
    display: block;
    margin-bottom: 10px;
  }
  
  .project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  